/* my css reset start */
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
h3,p{
  margin: 0;
}
/* my css reset end */

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.logo250{       
  /* 圖片取代文字用法 start */
  background-image: url("../img/3_sidePractice/M1.png");
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  /* 圖片取代文字用法 end */
}
@media (max-width: 768px){
  .logo250{
    background-image: url("../img/3_sidePractice/M2.png");
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }
}
.flex{
  display: flex;
}
.header{
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 768px){
  .header{
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
  }
  .navbar{
    flex-flow: row wrap;
  }
  .navbar li{
    width: 50%;
    margin-bottom: 10px;
  }
}
.navbar_item{
  color: white;
  background: #3399FF;
  display: block;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.navbar_item:hover{
  background: orange;
}
.main{
  justify-content: space-between;
}
.news{
  border: 2px solid #000;
  padding: 1rem;
  width: 75%;
}
h3,p{
  margin-bottom: 1.5rem;
}
.banner{
  border: 2px solid #000;
  padding: 0.2rem;
  width: 20%;  
}
.banner img{
  margin: 0 auto 0.5rem auto;
}
@media (max-width: 768px){
  .main{
    flex-flow: row wrap;
  }
  .news{
    width: 100%;
    margin-bottom: 20px;
  }
  .banner{
    width: 100%;
  }
}
.footer{
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}