@font-face{
  font-family: 'mylocal';
  src: local("Microsoft JhengHei"),
  url("PingFangTC-Semibold.otf");
}
body{
  width: 1024px;
  margin: 0px auto;
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
  font-family: "PingFangTC-Semibold", 'Times New Roman', serif;
}
a{
  text-decoration: none;
}
.container{
  padding-left: 42px;
  padding-right: 42px;
}
.navbar{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: #3F5D45;
}
.multiSheets{
  display: flex;
}
.multiSheets a:link,
.multiSheets a:visited,
.multiSheets a:hover,
.multiSheets a:active{
  color: #3F5D45;
}
.navbar ul{
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  width: 215px;
  height: 22px;
}
.navbar ul li{
  list-style-type: none;
}
.imgCart{
  /* object-fit: contain; */
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.banner{
  background-image: url("../img/banner.png");
  background-position: center;
  width: 940px;
  height: 496px;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
.mainCatalog{
  display: flex;
}
.menu{
  width: 300px;
  margin-right: 20px;
}
.cata_dessert,
.cata_item{
  width: 100%;
  height: 65px;
  text-align: center;
  line-height: 65px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  border: 1px solid #EAF0ED;  
}
.cata_dessert{
  color: #EAF0ED;
  background: #3F5D45;
}
.cata_item{
  margin: -1px 0;
}
.cata_item:nth-child(2){
  color: #3F5D45;
  background: rgb(205, 224, 215);  
}
/* .cata_item:not(:nth-child(2)){
  background: white;  
} */
.cata_item a:link,
.cata_item a:visited,
.cata_item a:hover,
.cata_item a:active{
  color: #3F5D45;
}
.cata_item a{
  display: block;       /* 使<a>的inline屬性變成block，好處：可以讓<a>可按的空間擴展，不僅限於<a></a>所包住的文字範圍。 */
}
.product{
  /* 以下為了去除<ul>的內建屬性。 */
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
  /* 以上是為了去除<ul>的內建屬性。 */
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productImg{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  position: relative;
  margin-bottom: 20px;
}
.content{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  font-size: 1.1rem;
  color: #3F5D45;
  border: 1px solid #EAF0ED; 
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
  height: 56px;
  line-height: 56px;
}
.itemDes{
  width: 173px;
  /* height: 56px;
  line-height: 56px;
  margin-top: -5px; */
}
.price{
  display: inline-block;
  width: 127px;
  border-left: 1px solid #EAF0ED;  
  /* height: 56px;
  line-height: 56px;
  margin-top: -5px; */
}
.addIn{
  width: 100%;
  height: 65px;
  background: rgb(205, 224, 215);
  color: #3F5D45;
  font-size: 1.2rem;  
  font-weight: 700;
  text-align: center;
  line-height: 65px;
}
.addIn a:link,
.addIn a:visited,
.addIn a:hover,
.addIn a:active{
  color: #3F5D45;
  display: block;
}
.tagHot{
  width: 36px;
  height: 105px;
  background: #3F5D45;
  position: absolute;
  z-index: 10;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EAF0ED;
  writing-mode: vertical-lr;    /* 改變了主軸方向 */
  letter-spacing: 4px;
}
.favorite{
  position: absolute;
  z-index: 10;
  right: 22px;
  top: 19px;
}
.page{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}
.pNum{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #EAF0ED; 
  margin-left: -1px;
  color: #3F5D45;
  font-size: 1.2rem;
  box-sizing: border-box;
}
.pNum:nth-child(2){
  color: #EAF0ED;
  background: #3F5D45;
}

.subscribe{
  height: 116px;
  background: #3F5D45;
}
.container122{
  padding-left: 122px;
  padding-right: 122px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-flow: row wrap;
}
.subscribeTitle{
  display: flex;
  align-items: center;
}
.logoLight{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.logoLight + span{
  color: #EAF0ED;
  font-size: 1.45rem;
}
.inputCon{
  display: flex;
  align-items: center;
}
.subsEmail{
  box-sizing: border-box;
  background: rgb(205, 224, 215);
  border-style: none;
  height: 56px;
  width: 252px;
  font-size: x-large;
}
/* input無法產生偽元素 */
.emailIcon{         
  height: 56px;
  width: 64px;
  background: rgb(205, 224, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arrowIcon{         
  height: 56px;
  width: 64px;
  background: #FFE180;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-style: none;
}
.bgFooter{
  background: rgb(205, 224, 215);
  height: 341px;
}
.contactCon{
  height: 219px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 38.9px;
}
.contactCon>img{
  height: 27px;
}
.contactInfo span{
  color: #3F5D45;
  display: block;
  font-family: 'mylocal';
}
.sloganFooter{
  writing-mode: vertical-rl;
  color: #3F5D45;
  font-family: 'mylocal';
  font-weight: bolder;
  font-size: 1.5rem;
  height: 219px;
  width: 50%;
  padding-top: 30px;
}
.sloganFooter div:first-child{
  padding-left: 3px;
}
.iconSocial{
  width: 50%;
}
.iconSocial img{
  width: 32px;
  height: 32px;
}
.iconSocial img:first-child{
  margin-right: 3px;
}
.copyRight{
  width: 50%;
  font-family: 'mylocal';
  color: #3F5D45;
  text-align: right;
}