@import "reset";
@import "index";

$ora: orange;
$font-m: 16px;
$font-s: $font-m*0.8;
$font-l: $font-m*1.5;
$font-xl: $font-m*2;

.header{
  padding: 10px 0;
  ul{
    padding-left: 0;
    li a{              /* SCSS多利用巢狀寫法(Nesting)，CSS巢狀不要超過四層 */
      color: $ora;
      font-size: $font-xl;
    }
  }

  .trigger{
    display: none;
  }
}

.footer{
  max-width: 1000px;
  height: auto;
  background: $ora;
}
