@import "reset";
@import "grid";
@import "index";

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
}

@mixin circle($size,$bgcolor){
  border-radius: 50%;
  height: $size;
  width: $size*1.2;
  font-size: $size/3;
  background: $bgcolor;
}

$ora: orange;
$font-m: 16px;
$font-s: $font-m*0.8;
$font-l: $font-m*1.5;
$font-xl: $font-m*2;

.header{
  padding: 10px 0;
  ul{
    padding-left: 0;
    li a{              /* SCSS多利用巢狀寫法(Nesting)，CSS巢狀不要超過四層 */
      color: $ora;
      font-size: $font-xl;
    }
  }

  .trigger{
    display: none;
  }
}

.footer{
  max-width: 1000px;
  height: auto;
  background: $ora;
}

.menu{
  @include clearfix;
}

.box{
  @include circle(48px,#336699);
}

.product{
  max-width: 1024px;
  height: 60px;
  @include pad(){
    width: 49%;
    height: auto;
  }
  @include iphone5(){
    width: 100%;
  }
  a{
    color: #228855;
    @include iphone5(){
      display: none;
    }
  }
}